<%= link_to 'New', new_blog_path %>
<div "main-area">
  <% Blog.order(id: :desc).each do |blog| %>
    <%= render layout: 'blogs/shared/widget', locals: { title: blog.title } do %>
      <%= blog.contents %>
    <% end %>
  <% end %>
</div>
