<%= form_for @blog do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, value: @blog.title %>
  </div>

  <div class="field">
    <%= f.label :contents %><br />
    <%= f.text_area :contents, size: "60x12", value: @blog.contents %>
  </div>
  </div>

  <div class="field">
    <%= f.label :published %><br />
    <%= f.text_field :published, value: @blog.published.to_s %>
  </div>

  <div class="actions">
    <%= f.submit "Create blog" %>
  </div>
<% end %>
