<div class="header">
  <div class="header_content">
    <div class="navbar">
      <%= link_to 'Blog', blogs_path, class: 'link' %>
      <%= link_to 'Login', new_user_session_path, class: 'link' %>
      <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'link' %>
    </div>
  </div>
</div>
