.blog_widget {
  border-style: solid;
  border-radius: 8px;
  float: left;
  height: 100%;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 60%;
  font-family: Alegreya;

  &.widget_last {
    margin-right: 0;
  }

  .widget_header {
    border-radius: 8px 8px 0 0;
    color: #808080;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    padding: 0 13px;

    .title {
      margin: 0;
      padding: 0;
      color: #474545;
    }

    .widget_dropdown {
      float: right;
      a {
        font-size: 15px;
      }
    }
  }

  .widget_content {
    padding: 10px 30px;
  }

  .wid_bottom_link {
    margin-top: 20px;
    padding-right: 15px;
    text-align: right;
  }
}

#quickview {
  .blog_widget {
    margin-bottom: 0;
    .widget_header {
      font-size: 85%;
      height: 24px;
      line-height: 24px;
      padding: 0 8px;
    }
    .widget_content {
      font-size: 85%;
      padding: 5px 15px;
    }
  }
}
