

.header {
    display: block;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
    color: #111;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Noto Sans', "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;

    border-bottom: 1px solid #ccc;
    background: #fff;

    .header_content {
      padding: 30px 24px 24px 24px;
      position: relative;
      max-width: 980px;
      margin: 0 auto;
      text-align: left;
      .navbar {
        overflow: hidden;
        border-top: 5px solid #CC342D;
        background: #585450;
        padding: 0 0 0 8px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-bottom-left-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        border-bottom-right-radius: 6px;
        .link {
          color: #F6F6F3;
          text-shadow: 0 1px 0 #000;
          background-color: #585450;
          display: inline-block;
          padding: 9px 12px;
          font-weight: normal;
          text-decoration: none;
          float: left;
          font-size: 15px;
        }
      }
    }
}
